<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Messages</h1>
    <form method="POST" action="/index">
      <button>Add a Message</button>
    </form>
    <% for (var i = 0; i < messages.length; i++) { %>
      <div>
        <p><%= messages[i].text %></p>
        <h4><%= messages[i].user %></h4>
        <h6><%= messages[i].added %></h6>
      </div>
    <% } %>
  </body>
</html>
